APP_SECRET_KEY=yt4rfqt1NOU99ito-d6cpBSfTH0VUDEazYmWcyNfooYfcioeVkgtvJmKagoHWvU2
# HTTP local: false. Em produção com HTTPS, altere para true.
POSTGRES_PASSWORD=2mO888uPPjm_cLKFbwnVonojCZTj15BYc8bRu0E-8nt8nPUYMt2mEJUnP0S8GrJ0
SESSION_COOKIE_SECURE=false
POSTGRES_DB=calculadora
POSTGRES_USER=calculadora
GOOGLE_SHEET_ID=1Ay5txgv1-2wjwS-JsSZLaZup_smcHaXeKqw7Xq1K0ug
GOOGLE_CREDENTIALS_FILE=gothic-talent-423321-g2-e7cfd4f66aac.json
